**/.vs/**
**/.vscode/**
**/.idea/**
**/output/**
**/bin/**
**/obj/**
**/build/**
*.DotSettings.user
**/runtimes/*.lib
**/runtimes/*.a
**/runtimes/*.dll
**/runtimes/*.so
**/runtimes/*.dylib
